* {
    font-family: 'JetBrains Mono', monospace;
}

.nav-link {
    color: #FF1493 !important;
    transition: color 0.3s ease;
    font-weight: bold;
}

#logo {
    width: 1024px !important;
    height: 264px !important;
}

#logo > h1 {
    font-size: 70px;
}

#logo > img {
    width: 90px;
    height: 90px;
    margin-left: 30px;
    transform: rotate(10deg);
}

#discord-btn {
    background-color: #FF1493;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
}

#box {
    margin-top: 40px;
    height: 400px;
    border: 1px solid #5D9CEC;
    width: 100%; /* Garante que o box se ajustará à largura da tela */
}

#box > .content-text {
    color: #8251B9;
    padding: 20px;
}

.navbar-custom {
    background-color: #5D9CEC;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link {
    color: white;
}

.content-text {
    color: black;
    font-size: 18px;
    margin-top: 10px;
}

.scalar-text {
    color: #FF1493;
    font-weight: bold;
}

/* Mobile specific styles */
@media (max-width: 768px) {
    #logo {
        width: 100% !important;
        height: auto !important;
        justify-content: center;
    }

    #logo > h1 {
        font-size: 40px;
        text-align: center;
    }

    #logo > img {
        width: 60px;
        height: 60px;
        margin-left: 0;
        transform: rotate(10deg);
    }

    #discord-btn {
        width: 80%;
        font-size: 18px;
        margin-top: 20px;
    }

    #box {
        height: auto;
        padding: 20px;
        width: 90%; /* Ajusta a largura em telas menores */
    }

    .content-text {
        font-size: 16px;
        padding: 10px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav .nav-link {
        font-size: 18px;
    }
}

/* Desktop specific styles */
@media (min-width: 769px) {
    #logo {
        width: 1024px !important;
        height: 264px !important;
    }

    #discord-btn {
        width: 498px;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-link {
        font-size: 20px;
    }
}
